<div class="w-full h-screen bg-green-500 flex flex-col items-center pt-10">
  <h1 class="text-3xl text-white mt-8">New List</h1>

  <div class="card-size bg-gray-800 flex flex-col items-center pt-8 rounded">
    <div class="w-1/2-lg w-full-sm h-3/4">
      <%= render 'form', todo_list: @todo_list %>
    </div>

  </div>
  <%= link_to 'go back', todo_lists_path , :class => "h-8 w-1/4 px-2 py-4 bg-gray-700 flex justify-center text-white items-center mt-4"%>

</div>
