<div class="w-full h-10 bg-green-800 navbar-top">
  <ul class="flex w-full h-full items-center pl-2">
    <li class="flex">
    <%= link_to root_path do %>
      <h2 class="text-2xl"><i class="fa fa-store mr-2"> </i>KeepAlist </h2>
    <% end %>
    </li>
  <ul>
</div>
